SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ACCOUNT=
POSTGRES_URL=
MONGODB_URI=
KAFKA_BOOTSTRAP_SERVERS=

# Docker Hub
IMAGE_NAME=yourdockerhubuser/dataflow360-api:1.0.0

# Snowflake
SNOWFLAKE_ACCOUNT=WHPMWEU-SY84726
SNOWFLAKE_USER=API_BACKEND_USER
SNOWFLAKE_ROLE=API_BACKEND_ROLE
SNOWFLAKE_WAREHOUSE=DATAFLOW360_WH
SNOWFLAKE_DATABASE=DATAFLOW360
SNOWFLAKE_SCHEMA=MARTS

# Chemins utilisés en développement local
SNOWFLAKE_PRIVATE_KEY_PATH=secrets/snowflake_api_key.pem
SNOWFLAKE_PRIVATE_KEY_PASSWORD_FILE=secrets/snowflake_api_key_password.txt