# Snowflake credentials
snowflake_kafka.p8
snowflake_kafka.pub

/*.properties

/plugins/snowflake-kafka-connector/snowflake-kafka-connector.jar
/plugins/snowflake-kafka-connector.jar

# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment
.env
.env.*
!.env.example